@model DetailsWhiskyViewModel
@inject IRatingService ratingService
@inject IReviewService reviewService

@{
    ViewData["Title"] = "Details";
    string sufix = ((Model.WhiskyType == "Irish") || (Model.WhiskyType == "Bourbon")) ? "Whiskey" : "Whisky";
    string username = User.Identity.Name;
    var userRating = await ratingService.GetRatingAsync(User.Id(), Model.Id);
    var userReviewed = await reviewService.UserAlreadyReviewedWhiskyAsync(User.Id(), Model.Id);
}
<link rel="stylesheet" type="text/css" href="~/css/Whisky/whisky-details.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/site.js"></script>

<input type="hidden" id="addToFavouritesUrl" value="@Url.Action("AddToFavourites", "Whisky", new { id = Model.Id })" />
<input type="hidden" id="removeFromFavouritesUrl" value="@Url.Action("RemoveFromFavourites", "Whisky", new { id = Model.Id })" />
<input type="hidden" id="whiskyId" value="@Model.Id" />


<div class="container">
    <div class="whisky-title">
        @Model.Name
        <div class="heart-icon @(Model.IsFavourite ? "active" : "")" id="favourite-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
            </svg>
        </div>


    </div>
    <div class="whisky-type">@Model.WhiskyType  @sufix @Model.AlcoholPercentage% </div>

    @if (Model.Age != null)
    {
        <div class="whisky-age">
            @Model.Age Y.O.
        </div>
    }
    @if (User.IsAdmin() || (User.IsWhiskyExpert() && Model.PublishedBy == User.Id()))
    {
        <div class="whisky-buttons">
            <a asp-controller="Whisky" asp-action="Edit" asp-route-id="@Model.Id"
               class="btn btn-warning">Edit</a>
            @if (User.IsAdmin())
            {
                <a asp-controller="Whisky" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-warning">Delete</a>
            }
            <a asp-controller="Award" asp-action="Add" asp-route-id="@Model.Id"
               class="btn btn-warning">Add Award</a>
        </div>
    }

    <div class="whisky-info main-img">
        <img src="@Model.ImageURL" class="whisky-image" alt="Whisky Image">
    </div>
    <div class="whisky-info"><p class="description">@Model.Description</p></div>
    <hr>
    <div class="row box">
        <div class="col">
            <div class="whisky-info-box">
                <div class="box-img-div">
                    <img src="~/images/country.svg" alt="country" class="box-img" />
                </div>
                <div class="box-content">
                    <p>Country</p>
                    @Model.CountryName
                </div>
            </div>
        </div>
        <div class="col">
            <div class="whisky-info-box">
                <div class="box-img-div">
                    <img src="~/images/region.svg" alt="region" class="box-img" />
                </div>
                <div class="box-content">
                    <p>Region</p>
                    @Model.RegionName
                </div>
            </div>
        </div>
        <div class="col">
            <div class="whisky-info-box">
                <div class="box-img-div">
                    <img src="~/images/distillery.svg" alt="region" class="box-img" />
                </div>
                <div class="box-content">
                    <p>Distillery</p>
                    @Model.DistilleryName
                </div>
            </div>
        </div>
    </div>

    @if (Model.Awards.Any())
    {
        <hr />
        <partial name="_AwardsPartial" model="Model.Awards" />
    }
    <hr />
    @if (userRating == null)
    {
        <div class="whisky-rating">Average Rating: @Model.AverageRating</div>
        <form asp-controller="Rating" asp-action="Rate" method="post">
            <partial name="_RatingFormPartial" model="Model" />
        </form>
    }
    else
    {
        <div class="whisky-rating">Average Rating: @Model.AverageRating</div>
        <h3 class="text-center mt-3">Your Rating</h3>
        <div class="user-rating">
            <div class="nose" style="width: @(userRating.Nose)%">Nose: @userRating.Nose</div>
            <div class="taste" style="width: @(userRating.Taste)%">Taste: @userRating.Taste</div>
            <div class="finish" style="width: @(userRating.Finish)%">Finish: @userRating.Finish</div>
        </div>
        <button id="editRatingButton" data-whisky-id="@Model.Id">Edit Rating</button>
    }
    <hr />
    <h3 class="text-center">
        Reviews for @Model.Name
    </h3>
    <p class="text-center">@Model.Reviews.Count reviews</p>
    @if (userReviewed)
    {
        <partial name="_ReviewPartial" model="Model.Reviews" />

    }
    else
    {
        <h3>Add Review</h3>
        <partial name="_ReviewFormPartial" model="Model.Review" />
        <hr />
        @if (Model.Reviews.Any())
        {
            <partial name="_ReviewPartial" model="Model.Reviews" />
        }
        else
        {
            <h3 class="text-center">No reviews yet</h3>
        }
    }
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script src="~/js/Whisky/addToFavourites.js" asp-append-version="true"></script>
<script src="~/js/Whisky/editRating.js" asp-append-version="true"></script>
