@model DetailsWhiskyViewModel
@{
    ViewData["Title"] = "Details";
    string sufix = ((Model.WhiskyType == "Irish") || (Model.WhiskyType == "Bourbon")) ? "Whiskey" : "Whisky";
}
<link rel="stylesheet" type="text/css" href="~/css/whiskyDetails.css">
<div class="container">
    <div class="whisky-title">@Model.Name</div>
    <div class="whisky-type">@Model.WhiskyType  @sufix @Model.AlcoholPercentage% </div>

    @if (Model.Age != null)
    {
        <div class="whisky-age">
            @Model.Age Y.O.
        </div>
    }

    <div class="whisky-info main-img">
        <img src="~/images/1697536046IMG-1694.jpg" class="whisky-image" alt="Whisky Image">
    </div>
    <div class="whisky-info"><p class="description">@Model.Description</p></div>
    <hr>
    <div class="row box">
        <div class="col">
            <div class="whisky-info-box">
                <div class="box-img-div">
                    <img src="~/images/country.svg" alt="country" class="box-img" />
                </div>
                <div class="box-content">
                    <p>Country</p>
                    @Model.CountryName
                </div>
            </div>
        </div>
        <div class="col">
            <div class="whisky-info-box">
                <div class="box-img-div">
                    <img src="~/images/region.svg" alt="region" class="box-img" />
                </div>
                <div class="box-content">
                    <p>Region</p>
                    @Model.RegionName
                </div>
            </div>
        </div>
        <div class="col">
            <div class="whisky-info-box">
                <div class="box-img-div">
                    <img src="~/images/distillery.svg" alt="region" class="box-img" />
                </div>
                <div class="box-content">
                    <p>Distillery</p>
                    @Model.DistilleryName
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="whisky-rating">Average Rating: @Model.AverageRating</div>
</div>
