@using System.Security.Claims
@using TheWhiskyRealm.Core.Contracts
@model DetailsWhiskyViewModel
@inject IRatingService ratingService
@inject IReviewService reviewService

@{
    ViewData["Title"] = "Details";
    string sufix = ((Model.WhiskyType == "Irish") || (Model.WhiskyType == "Bourbon")) ? "Whiskey" : "Whisky";
    string username = User.Identity.Name;
    var userRating = await ratingService.GetRatingAsync(User.Id(), Model.Id);
    var userReviewed = await reviewService.UserAlreadyReviewedWhiskyAsync(User.Id(), Model.Id);
}
<link rel="stylesheet" type="text/css" href="~/css/whiskyDetails.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/site.js"></script>

<div class="container">
    <div class="whisky-title">@Model.Name</div>
    <div class="whisky-type">@Model.WhiskyType  @sufix @Model.AlcoholPercentage% </div>

    @if (Model.Age != null)
    {
        <div class="whisky-age">
            @Model.Age Y.O.
        </div>
    }
    <div class="whisky-buttons">
        <a asp-controller="Whisky" asp-action="Edit" asp-route-id="@Model.Id"
           class="btn btn-warning">Edit</a>
        <a asp-controller="Whisky" asp-action="Delete" asp-route-id="@Model.Id"
           class="btn btn-warning">Delete</a>
    </div>
    <div class="whisky-info main-img">
        <img src="~/images/1697536046IMG-1694.jpg" class="whisky-image" alt="Whisky Image">
    </div>
    <div class="whisky-info"><p class="description">@Model.Description</p></div>
    <hr>
    <div class="row box">
        <div class="col">
            <div class="whisky-info-box">
                <div class="box-img-div">
                    <img src="~/images/country.svg" alt="country" class="box-img" />
                </div>
                <div class="box-content">
                    <p>Country</p>
                    @Model.CountryName
                </div>
            </div>
        </div>
        <div class="col">
            <div class="whisky-info-box">
                <div class="box-img-div">
                    <img src="~/images/region.svg" alt="region" class="box-img" />
                </div>
                <div class="box-content">
                    <p>Region</p>
                    @Model.RegionName
                </div>
            </div>
        </div>
        <div class="col">
            <div class="whisky-info-box">
                <div class="box-img-div">
                    <img src="~/images/distillery.svg" alt="region" class="box-img" />
                </div>
                <div class="box-content">
                    <p>Distillery</p>
                    @Model.DistilleryName
                </div>
            </div>
        </div>
    </div>
    <hr />
    @if (userRating == null)
    {
        <div class="whisky-rating">Average Rating: @Model.AverageRating</div>
        <form asp-controller="Rating" asp-action="Rate" method="post">
            <partial name="_RatingFormPartial" model="Model" />
        </form>
    }
    else
    {
        <div class="whisky-rating">Average Rating: @Model.AverageRating</div>
        <h3 class="text-center mt-3">Your Rating</h3>
        <div class="user-rating">
            <div class="nose" style="width: @(userRating.Nose)%">Nose: @userRating.Nose</div>
            <div class="taste" style="width: @(userRating.Taste)%">Taste: @userRating.Taste</div>
            <div class="finish" style="width: @(userRating.Finish)%">Finish: @userRating.Finish</div>
        </div>
    }
    @if (Model.Awards.Any())
    {
        <hr />
        <partial name="_AwardsPartial" model="Model.Awards" />
    }
    <hr />
    <h3 class="text-center">
        Reviews for Auchentoshan Three Wood
    </h3>
    <p class="text-center">@Model.Reviews.Count reviews</p>
    @if (userReviewed)
    {
        <partial name="_ReviewPartial" model="Model.Reviews" />

    }
    else
    {
        <h3>Add Review</h3>
        <partial name="_ReviewFormPartial" model="Model.Review" />
        <hr />
        @if (Model.Reviews.Any())
        {
            <partial name="_ReviewPartial" model="Model.Reviews" />
        }
        else
        {
            <h3 class="text-center">No reviews yet</h3>
        }
    }
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}