@using System.Security.Claims
@model DetailsWhiskyViewModel
@{
    ViewData["Title"] = "Details";
    string sufix = ((Model.WhiskyType == "Irish") || (Model.WhiskyType == "Bourbon")) ? "Whiskey" : "Whisky";
    string username = User.Identity.Name;
}
<link rel="stylesheet" type="text/css" href="~/css/whiskyDetails.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/site.js"></script>

<div class="container">
    <div class="whisky-title">@Model.Name</div>
    <div class="whisky-type">@Model.WhiskyType  @sufix @Model.AlcoholPercentage% </div>

    @if (Model.Age != null)
    {
        <div class="whisky-age">
            @Model.Age Y.O.
        </div>
    }

    <div class="whisky-info main-img">
        <img src="~/images/1697536046IMG-1694.jpg" class="whisky-image" alt="Whisky Image">
    </div>
    <div class="whisky-info"><p class="description">@Model.Description</p></div>
    <hr>
    <div class="row box">
        <div class="col">
            <div class="whisky-info-box">
                <div class="box-img-div">
                    <img src="~/images/country.svg" alt="country" class="box-img" />
                </div>
                <div class="box-content">
                    <p>Country</p>
                    @Model.CountryName
                </div>
            </div>
        </div>
        <div class="col">
            <div class="whisky-info-box">
                <div class="box-img-div">
                    <img src="~/images/region.svg" alt="region" class="box-img" />
                </div>
                <div class="box-content">
                    <p>Region</p>
                    @Model.RegionName
                </div>
            </div>
        </div>
        <div class="col">
            <div class="whisky-info-box">
                <div class="box-img-div">
                    <img src="~/images/distillery.svg" alt="region" class="box-img" />
                </div>
                <div class="box-content">
                    <p>Distillery</p>
                    @Model.DistilleryName
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="whisky-rating">Average Rating: @Model.AverageRating</div>
    <hr />
    <a asp-controller="Whisky" asp-action="Edit" asp-route-id="@Model.Id"
       class="btn btn-warning">Edit</a>
    <hr />
    <h3>
        Reviews for Auchentoshan Three Wood
    </h3>

    @foreach (var review in Model.Reviews)
    {
        string recommend = review.Recommend ? "Recommended" : "Not Recommended";

        <div class="container">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@review.Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@recommend</h6>
                    <p class="card-text">@review.Content</p>
                    <div class="d-flex justify-content-between align-items-center">
                        @if (username == review.UserName)
                        {
                            <div class="btn-group">
                                <a asp-controller="Review" asp-action="Edit" asp-route-id="@review.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                                <a asp-controller="Review" asp-action="Delete" asp-route-id="@review.Id" class="btn btn-sm btn-outline-secondary">Delete</a>
                            </div>
                        }
                        <small class="text-muted">published by: @review.UserName</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
