@model MyCollectionPagination
@{
}

<link rel="stylesheet" type="text/css" href="~/css/Whisky/whisky-my-collection.css">

<div class="row">
    @foreach (var whisky in Model.Whiskies)
    {
        string ageProp = (whisky.Age != null) ? (@whisky.Age + " Y.O.") : "N/A";

        <article class="card">
            <img src="~/images/1697536046IMG-1694.jpg"
                 alt="" class="img-bg">

            <div class="content">
                <ul class="meta" role="list">
                    <li class="meta-item">@ageProp</li>
                    <li class="meta-item">@whisky.ABV %</li>
                    <li class="meta-item">@whisky.DistilleryName</li>
                </ul>

                <h2 class="title">@whisky.Name</h2>
                <p class="desc">@whisky.Description</p>
                <a href="@Url.Action("Details", "Whisky", new { id = whisky.Id })" class="btn btn-primary">See More</a>
            </div>
        </article>
    }
    <div class="pagination">
        @if (Model.page > 1)
        {
            <a asp-controller="Whisky" asp-action="MyCollection" asp-route-page="@(Model.page - 1)">Previous</a>
        }
        @if (Model.allWhiskies > Model.page * Model.pageSize)
        {
            <a asp-controller="Whisky" asp-action="MyCollection" asp-route-page="@(Model.page + 1)">Next</a>
        }
    </div>
</div>
