@model ICollection<ArticleAllViewModel>
<link rel="stylesheet" type="text/css" href="~/css/Article/article-index.css">
<div class="container">
    @foreach (var article in Model)
    {
        <a asp-controller="Article" asp-action="Details" asp-route-id="@article.Id">
        <div class="article-container">
            <img src="@article.ImageUrl" alt="@article.Title" class="article-image">
            <div class="article-content">
                <h2 class="article-title">@article.Title</h2>
                <p class="article-type">Type: @article.ArticleType</p>
            </div>
        </div>
        </a>
    }
</div>