@model UserIndexViewModel
<style>
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #f8f9fa;
        padding: 20px;
    }
</style>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<script src="~/js/AdminArea/Users/filter-functionallity.js"></script>
<form id="userRoleFilterForm">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Show only</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" data-role="All">All</a>
                <a class="dropdown-item" href="#" data-role="User">User</a>
                <a class="dropdown-item" href="#" data-role="WhiskyExpert">WhiskyExpert</a>
            </div>
        </div>
        <div class="input-group-append">
            <button type="button" id="userClearFilterButton" class="btn btn-outline-dark">Clear</button>
        </div>
    </div>
</form>



<a asp-area="Admin" asp-controller="User" asp-action="Create" class="btn btn-primary">Add new User</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Role</th>
            <th>DateOfBirth</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @user.Id
                </td>
                <td>
                    @user.Username
                </td>
                <td>
                    @user.Role
                </td>
                <td>
                    @user.DateOfBirth.ToShortDateString()
                </td>
                <td>
                    <div class="d-flex justify-content-between align-items-center">
                        <a asp-area="Admin" asp-controller="User" asp-action="Info" asp-route-id="@user.Id" class="btn btn-success">Info</a>
                        <a asp-area="Admin" asp-controller="User" asp-action="EditRole" asp-route-id="@user.Id" class="btn btn-danger">Role</a>
                        @if (user.IsLocked)
                        {
                            <div>
                                <form asp-area="Admin" asp-controller="User" asp-action="Unlock" method="post">
                                    <input type="hidden" name="id" value="@user.Id" />
                                    <button type="submit" class="btn btn-success">Unlock</button>
                                </form>
                            </div>
                        }
                        else
                        {
                            <div>
                                <form asp-area="Admin" asp-controller="User" asp-action="Lock" method="post">
                                    <input type="hidden" name="id" value="@user.Id" />
                                    <button type="submit" class="btn btn-danger">Lock</button>
                                </form>
                            </div>
                        }
                        <a asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    Page @Model.CurrentPage of @Model.TotalPages
    <a asp-action="Index" asp-route-currentPage="@(Model.CurrentPage - 1)" class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : "")">Previous</a>
    <a asp-action="Index" asp-route-currentPage="@(Model.CurrentPage + 1)" class="btn btn-primary @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">Next</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
