@model ICollection<AwardViewModel>
@inject IWhiskyService whiskyService
@{
    var publisherId = await whiskyService.GetWhiskyPublisherAsync(Model.Select(a => a.WhiskyId).FirstOrDefault()!);
}
<link rel="stylesheet" type="text/css" href="~/css/Award/award-partial.css">

<div style="" id="awardsDiv">
    @foreach (var award in Model)
    {
        <div class="award-container">
            <div class="content-div">
                <img src="@Url.Content($"~/images/{award.MedalType}.png")" alt="Medal" style="" />
                <div>
                    <h4>@award.Title</h4>
                    <p>@award.AwardsCeremony, @award.Year</p>
                </div>
            </div>

            @if (User.IsAdmin() || (User.IsWhiskyExpert() && publisherId == User.Id()))
            {
                <div class="award-button-container">
                    <a class="award-button" asp-controller="Award" asp-action="Edit" asp-route-id="@award.Id">Edit</a>
                    <a class="award-button" asp-controller="Award" asp-action="Delete" asp-route-id="@award.Id">Delete</a>
                </div>
            }

        </div>
    }
</div>

