@model EventDetailsViewModel
@{

}

<link rel="stylesheet" type="text/css" href="~/css/Event/event-details-partial.css">
@{
    var expired = DateTime.Parse(Model.StartDate) <= DateTime.Now ? " (expired)" : "";
}
<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card event-details-card">
                <div class="card-body">
                    <h1 class="card-title text-center">@Model.Title <span class="expired">@expired</span></h1>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Start Date:</strong> @Model.StartDate</p>
                            <p><strong>Organiser:</strong> @Model.OrganiserName</p>
                            <p><strong>Venue Name:</strong> @Model.VenueName</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>End Date:</strong> @Model.EndDate</p>
                            <p><strong>Price:</strong> @(Model.Price.HasValue ? Model.Price.Value.ToString("C2") : "Free")</p>
                            <p><strong>Available Spots:</strong> @Model.AvailableSpots</p>
                        </div>
                    </div>
                    <p class="card-text">@Model.Description</p>
                </div>
            </div>
        </div>
    </div>
</div>