@inject IEventService eventService

@model IEnumerable<AllEventViewModel>

@{
    var userId = User.Id();
}

<link rel="stylesheet" type="text/css" href="~/css/Event/event-index.css">

<div class="container mt-5">
    <h1 class="mb-4">All Events</h1>
    <a href="@Url.Action("PastEvents", "Event")" class="btn btn-secondary">Past Events</a>
    <div class="row">
        @foreach (var eventItem in Model)
        {
            var alreadyJoined = await eventService.IsUserAlreadyJoinedAsync(eventItem.Id, userId);
            var alreadyStarted = await eventService.HasAlreadyStartedAsync(eventItem.Id);
            var isOrganiser = await eventService.GetOrganiserIdAsync(eventItem.Id);

            <div class="col-lg-4 col-md-6">
                <div class="card event-card">
                    <div class="card-body">
                        <h5 class="card-title">@eventItem.Title</h5>
                        <p class="card-text">Start Date: @eventItem.StartDate</p>
                        <p class="card-text">
                            Price: <span class="price">
                                @if (eventItem.Price.HasValue)
                                {
                                    @eventItem.Price.Value.ToString("C2")
                                }
                                else
                                {
                                    <span class="text-muted">Free</span>
                                }
                            </span>
                        </p>
                        <p class="card-text">Venue: @eventItem.VenueName</p>
                        <p class="card-text">Available Spots: <span class="spots">@eventItem.AvailableSpots</span></p>
                        <a href="@Url.Action("Details", "Event", new { id = eventItem.Id })" class="btn btn-primary">More</a>
                        @if (!alreadyJoined && !alreadyStarted && isOrganiser != userId && eventItem.AvailableSpots > 0)
                        {
                            <form asp-controller="Event" asp-action="Join" method="post">
                                <input type="hidden" name="id" value="@eventItem.Id" />
                                <button type="submit" class="btn btn-success">Join Event</button>
                            </form>
                        }
                        @if (alreadyJoined && !alreadyStarted)
                        {
                            <form asp-controller="Event" asp-action="Leave" method="post">
                                <input type="hidden" name="id" value="@eventItem.Id" />
                                <button type="submit" class="btn btn-success">Leave Event</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    @if (!Model.Any())
    {
        <p class="text-muted">No events available.</p>
    }
</div>
