@model DistilleryInfoModel

<style>
    .distillery-name {
        font-weight: 900;
        text-decoration: underline;
        font-style: italic;
        color: black;
    }

    p.dist-info {
        font-style: italic;
        color: black;
    }
</style>
<h2>Distillery <span class="distillery-name">@Model.Name</span> Info:</h2>
<p class="dist-info">Year Founded: @Model.YearFounded</p>
<p class="dist-info">Country: @Model.Country</p>
<p class="dist-info">Region: @Model.Region</p>


@if (Model.Whiskies.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Approved</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Whiskies)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.IsApproved
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Whisky" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                        <a asp-area="" asp-controller="Whisky" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary">Info</a>
                        <a asp-area="" asp-controller="Whisky" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                        @if (item.IsApproved == "No")
                        {
                            <form asp-area="" asp-action="Approve" asp-controller="Whisky" method="post" style="display:inline-block">
                                <input type="hidden" name="id" value="@item.Id" />
                                <input type="submit" class="btn btn-outline-primary" value="Approve" />
                            </form>

                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>This distillery has no related data</p>
}

<a asp-area="Admin" asp-controller="Distillery" asp-action="Index" class="btn btn-primary">Back</a>
